# Intro to Python Day 1 - Exercises

## Exercise 1

# Question 1
##### Create two variables `name` and `age` and assign values to the variables with your name and age
##### Print your name and age

In [1]:
name = 'James'
age = 27

#### Question 2
##### Assign variable `x` as your age and variable `y` as your neighbor's age.
##### Print `x` and `y`.

In [5]:
x = age
y = 30
print(x,y)

27 30

#### Question 3
##### Now swap x and y in a single line of code.
##### Print x and y now.

In [8]:
x, y = y, x
print(x,y)

30 27

#### Question 4
##### Add `x` and `y` and assign to `z`
##### Print `z`.

In [9]:
z = x + y
print(z)

57

#### Question 5
##### Delete all the variables we created in this exercise.

In [10]:
del name, age, x, y, z

#### Question 6
##### Print your age now.
##### What is the output you are getting and why?

In [14]:
print(name, age, x, y, z)

NameError: name 'name' is not defined

## Exercise 2

#### Question 1
##### Ana has a circular ring which has a radius of  5 inches. 
##### She wants to use Python to find various measurements for the circular ring.
##### Assign variable 5 to `radius` and 3.14 to `pi` and Ana to `name`.
##### Print the variable types of all the variables we have just assigned.

In [15]:
radius = 5
pi = 3.14
name = "Ana"
print(radius, pi, name)

5 3.14 Ana

#### Question 2
##### Help Ana by finding the area and perimeter of the circular ring.
##### Assign to variables 'area' and 'perimeter' respectively.
##### *Hint: Area = pi x radius x radius* 
##### *Hint: Perimeter = 2 x pi  x radius*

In [21]:
Area = pi * (radius**2)
Perimeter = 2 * pi * radius 
print(Area, Perimeter)

78.5 31.400000000000002

#### Question 3
##### Find the `round`, `floor`, and `ceil` of area.
##### Make sure to import the `math` library!
##### Assign to three separate variables named `area_r`, `area_f`, `area_c`.
##### Print all the three values.

In [22]:
import math
area_r = round(Area)
area_f = math.floor(Area)
area_c = math.ceil(Area)
print(area_r,area_f,area_c)

78 78 79

#### Question 4
##### Check if `area_r` is equal to `area_f`.
##### Also, check if `area_f` is equal to `area_c`.

In [24]:
print(area_r == area_f)
print(area_f == area_c)

True
False

#### Question 5
##### Print the data type of `perimeter`.
##### Convert to `int` type and now check the data type.

In [27]:
type(Perimeter)
type(int(Perimeter))

int

#### Question 6
##### Create two variables as `f_name` and `l_name` and assign values as your first and last name respectively.
##### Combine both names into a new variable called `full_name` and print it.
##### Now use various string operations and print your name in all lowercase, all upper case, capitalize the first letters.
##### Print the length of your name.
##### Slice your first three letters off your last name and print the result.

In [30]:
f_name = "James"
l_name = "King"
full_name = f_name + ' ' + l_name
print(full_name)

James King

In [32]:
print(full_name.lower())
print(full_name.upper())
print(full_name.capitalize())

james king
JAMES KING
James king

In [33]:
print(len(full_name))

10

In [35]:
print(full_name[0:3])

Jam

## Exercise 3

#### Question 1
##### Create two lists and add the entries as mentioned below:
- List `first_name` should contain the following:
    - Harry
    - Ron
    - Hermione
    - Dumbledore 
    - Draco 
    - Sirius 
    - Severus
- List `age` should contain the following:
    - 16
    - 17
    - 18
    - 150
    - 17
    - 40
    - 40

In [64]:
first_name = ["Harry","Ron","Hermione","Dumbledore","Draco","Sirius","Severus"]
age = ["16","17","18","150","17","40","40"]

#### Question 2
##### Find the minimume values for the `first_name` and `age` lists.

In [65]:
print(min(first_name),min(age))

Draco 150

#### Question 3
##### What is the length of the list `first_name`.
##### Pop one element from both lists.
##### What is the index number for entry 'Hermione'?

In [66]:
len(first_name)

7

In [67]:
first_name.pop()

'Severus'

In [68]:
age.pop()

'40'

In [69]:
first_names.index('Hermione')

2

#### Question 4
##### Convert list `age` to a set and assign the result to `age_set` variable.
##### Print the length of the set.

In [70]:
age_set = set(age)
print(len(age_set))
print(age_set)

5
{'16', '17', '150', '40', '18'}

In [71]:
len(age)

6

#### Question 5
##### Create a dictionary with list `first_name` as key and list `age` as value.
##### Name the dictionary as `hp_dict`.

In [72]:
hp_dict = dict(zip(first_name, age))
print(hp_dict)

{'Harry': '16', 'Ron': '17', 'Hermione': '18', 'Dumbledore': '150', 'Draco': '17', 'Sirius': '40'}

#### Question 6
##### Delete Draco from dictionary.
##### Print all keys from `hp_dict`.

In [73]:
del hp_dict['Draco']
print(hp_dict.keys())

dict_keys(['Harry', 'Ron', 'Hermione', 'Dumbledore', 'Sirius'])